.profile {
    margin: 0 auto;
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
}

@media (max-width: 550px) {
    
    .profile {
        padding-left: 0;
        padding-right: 0;
    }
}