.popup__content{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 430px;
    width: 100%;
    min-height: 720px;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    padding:36px;
}
@media screen and (max-width:400px){
    .popup__content{
        width:90%;
        margin-top:73px;
    }
}

