.profile__photo-wrapper {
    max-width: 120px;
    max-height: 120px;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    background-image: url(../../../images/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* position: relative; */
}

@media (max-width: 880px) {
    .profile__photo-wrapper {
        margin-bottom: 26px;
        margin-right: 0;
    }
}