.popup__form {
    /* display: none; */
    min-width: 430px;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
}

@media (max-width: 560px) {
    
    .popup__form {
        min-width: 282px;
        margin-top: 13px;
    }
}