@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./blocks/root/root.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_active/header__link_active.css);
@import url(./blocks/logo/logo.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__photo-wrapper/profile__photo-wrapper.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__btn-add/profile__btn-add.css);
@import url(./blocks/profile/__btn-edit/profile__btn-edit.css);

@import url(./blocks/photos/photos.css);

@import url(./blocks/spinner/spinner.css);

@import url(./blocks/photo/photo.css);
@import url(./blocks/photo/__title/photo__title.css);
@import url(./blocks/photo/__image-container/photo__image-contsiner.css);
@import url(./blocks/photo/__image/photo__image.css);
@import url(./blocks/photo/__like/photo__like.css);
@import url(./blocks/photo/__like-counter/photo__like-counter.css);
@import url(./blocks/photo/__like-container/photo__like-container.css);
@import url(./blocks/photo/__like/_active/photo__like_active.css);
@import url(./blocks/photo/__trash/photo__trash.css);
@import url(./blocks/photo/__like-button-container/photo__like-button-container.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__logo/footer__logo.css);


@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_invalid/popup__save_invalid.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_state/popup__input_state_invalid.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/_opened/popup__opened.css);
@import url(./blocks/popup/_photo/popup_photo.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__photo-container/popup__photo-container.css);
@import url(./blocks/popup/__photo-title/popup__photo-title.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__delete-btn/popup__delete-btn.css);
@import url(./blocks/popup/__title/_edit-avatar/popup__title_edit-avatar.css);
@import url(./blocks/popup/__info-icon/popup__info-icon.css);
@import url(./blocks/popup/__title-info/popup__title-info.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__cross/popup__cross.css);
@import url(./blocks/popup/__figure-flex/popup__figure-flex.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);


@import url(./blocks/authorization/authorization.css);
@import url(./blocks/authorization/__button/authorization__button.css);
@import url(./blocks/authorization/__form/authorization__form.css);
@import url(./blocks/authorization/__input/authorization__input.css);
@import url(./blocks/authorization/__title/authorization__title.css);
@import url(./blocks/authorization/__input/_password/authorization__input_password.css);
@import url(./blocks/authorization/__login-link/authorization__login-link.css);
