.popup__figure-flex {
    max-width: 865px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (max-width: 768px) {
    
    .popup__figure-flex {
        max-width: 75vw;
    }
}